{% extends "main.html" %}
{% load static %}
{% block js %}
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
  <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script defer src="{% static 'js/ads-list.js' %}"></script>
{% endblock js %}
{% block content %}
  <div class="d-flex">
    <main>
      <div class="ads">
        {% for ad in ads %}
          {% include 'ad.html' with ad=ad %}
        {% endfor %}
      </div>
    </main>
  </div>
  {% include 'inclusions/pagination.html' %}
{% endblock content %}
