<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h1>Settings | <a href="{% url 'profile' %}">Profile</a></h1>
    {% if auth == True %}

    <!-- Change password form -->

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Change password">
    </form>

    {% else %}

    <!-- Render login\reg page -->
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>
</html>