{% load filters %}
<div class="pagination">
  <span>
    {% if ads.has_previous %}
      <a href="?{% url_replace page=1 %}">&laquo; first</a>
      <a href="?{% url_replace page=ads.previous_page_number %}">previous</a>
    {% endif %}
    <span>
      Page {{ ads.number }} of {{ ads.paginator.num_pages }}
    </span>
    {% if ads.has_next %}
      <a href="?{% url_replace page=ads.next_page_number %}" class="next">next</a>
      <a href="?{% url_replace page=ads.paginator.num_pages %}">last &raquo;</a>
    {% endif %}
  </span>
</div>
