:root {
  --columns: 5;
  --color--gray-1: #262626;
  --color--gray-2: #808080;
  --color--gray-3: #a0a0a0;
  --color--gray-4: #d8d8d8;
  --color--red: #DB565B;
  --color--white-1: #ffffff;
  --color--white-2: #fbf9f5;
  --size--small-1: 2px;
  --size--small-2: 8px;
  --size--header-height: 50px;
}

body {
  display: block;
  margin: var(--size--small-2);
  background-color: var(--color--white-2);
  opacity: 0.96;
  margin: 0;
  padding: 0;
}

header {
  height: var(--size--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--color--white-2);
  padding: 0 var(--size--small-2);
}

header .logo {
  font-size: 50px;
  font-weight: bold;
}

header .logo a {
  color: var(--color--gray-1);
  text-decoration: none;
}

aside {
  width: 15vw;
  height: 80vh;
  position: sticky;
  top: var(--size--header-height);
  padding: var(--size--small-2);
}

#search-filters input {
  outline: none;
}

.input-box--search {
  border: 1px solid var(--color--gray-3);
  display: flex;
  border-radius: var(--size--small-1);
  background: transparent;
  height: 25px;
  align-items: center;
}

.input-box--search:hover,
.input-box--search.focused {
  background: var(--color--white-1);
  border: 1px solid var(--color--gray-1);
}

input[name="search"] {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  width: 100%;
  padding-top: 4px;
}

.ads {
  position: relative;
  margin: 0 calc(0px - var(--size--small-2) / 2);
}

.ad {
  margin: 0 0 1rem 0;
  margin: calc(var(--size--small-2) / 2);
  cursor: pointer;
}

.ad__gallery {
  position: relative
}

.ad__gallery__buttons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ad__gallery__button {
  position: relative;
  flex-basis: auto;
  flex: 1 1 100%;
}

.ad__gallery__button:after {
  position: absolute;
  bottom: 8px;
  right: 1px;
  left: 1px;
  height: 3px;
  content: "";
  background: transparent;
}

.ad__gallery:hover .ad__gallery__button:after {
  background-color: var(--color--white-2);
}

.ad__gallery .ad__gallery__button:hover:after {
  background-color: var(--color--red);
}

.ad img {
  border-top-left-radius: var(--size--small-1);
  border-top-right-radius: var(--size--small-1);
}

.ad,
.ad img {
  max-width: 16vw;
}

.ad__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ad__description {
  padding: 4px;
  margin-top: -4px;
  border: 1px solid var(--color--gray-4);
  border-bottom-left-radius: var(--size--small-1);
  border-bottom-right-radius: var(--size--small-1);
}

.ad__title {
  font-weight: bold;
}

.ad__text {
  padding: 6px 0;
}

.ad__description-bottom {
  display: flex;
  justify-content: space-between;
}

.ad__location {
  color: var(--color--gray-2);
}

.ad__price {
  font-weight: bold;
}

.pagination {
  display: none;
}

secret,
.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

#icon--like {
  color: var(--color--gray-1);
  fill: var(--color--gray-1);
}

#icon--unlike {
  color: var(--color--red);
  fill: var(--color--red);
}
