:root {
  --margin-main: 8px;
  --columns: 6;
  --color--gray-1: #262626;
  --color--gray-2: #808080;
  --color--gray-3: #a0a0a0;
  --color--red: #DB565B;
}

body {
  display: block;
  margin: var(--margin-main);
  background-color: #fbf9f5;
  opacity: 0.96;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 50px;
  font-weight: bold;
}

header .logo a {
  color: var(--color--gray-1);
  text-decoration: none;
}

.ads {
  margin: 0 calc(0px - var(--margin-main) / 2);
}

.ad {
  border: 1px solid var(--color--gray-3);
  margin: 0 0 1rem 0;
  margin: calc(var(--margin-main) / 2);
  cursor: pointer;
  border-radius: 2px;
}

.ad img {
  border-bottom: 1px solid var(--color--gray-3);
}

.ad,
.ad img {
  max-width: calc((100vw - (var(--margin-main) + 40px) * 2) / var(--columns));
}

.ad__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ad__description {
  padding: 4px;
}

.ad__title {
  font-weight: bold;
}

.ad__text {
  padding: 6px 0;
}

.ad__description-bottom {
  display: flex;
  justify-content: space-between;
}

.ad__location {
  color: var(--color--gray-2);
}

.ad__price {
  font-weight: bold;
}

.pagination {
  display: none;
}

secret,
.hidden {
  display: none;
}

#icon--like {
  color: var(--color--gray-1);
  fill: var(--color--gray-1);
}

#icon--unlike {
  color: var(--color--red);
  fill: var(--color--red);
}
