
<!-- Activate Filters -->
<script>
    $(document).ready(() => {
        autocomplete($('#input-make')[0], makesAll);
        // autocomplete($('#input-model')[0], makesAll);
        // $('.selectpicker').selectpicker({
        //     // style: 'btn-default',
        //     // size: false
        //     style: 'btn-info',
        //     size: 4
        // });
    });
</script>

<div>
    <!-- Filters Main Window -->
    <div class="filters-container">
        <div class="row">
            <div class="col">
                <div class="btn-group filter-is-new filters-is_new my-input" role="group" aria-label="is_new" data-toggle="buttons" id="filter-is-new">
                    {% for option in form.is_new.field.choices %}
                    <input type="radio" class="btn-check" name="is_new" id="is_new-{{ option.0|cut:' ' }}" autocomplete="off"{% if option.0 == form.is_new.value.0%} checked{% endif %}>
                    <label class="btn btn-outline-primary btn-block" for="is_new-{{ option.0|cut:' ' }}">{{ option.1 }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="btn-group filter-is-broken filters-is_broken my-input" role="group" aria-label="is_broken" data-toggle="buttons" id="filter-is-broken">
                    {% for option in form.is_broken.field.choices %}
                    <input type="radio" class="btn-check" name="is_broken" id="is_broken-{{ option.0|cut:' ' }}" autocomplete="off"{% if option.0 == form.is_broken.value.0%} checked{% endif %}>
                    <label class="btn btn-outline-primary btn-block" for="is_broken-{{ option.0|cut:' ' }}">{{ option.1 }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <input class="my-input" id="input-make" placeholder="Location" autocomplete="off" value="{{ form.location.value }}"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="autocomplete">
                    <input class="my-input" id="input-make" placeholder="Make" autocomplete="off"/>
                </div>
            </div>
            <div class="col">
                <div class="autocomplete">
                    <input class="my-input" id="input-model" placeholder="Model" autocomplete="off"/>
                </div>
            </div>
            <div class="col">
                {% for option in form.color.field.choices %}
                <div class="color {{ option.0 }}"></div>
                {% endfor %}
                <i class="far fa-times-circle"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- <select class="selectpicker body" title="Body"> -->
                <select class="body" title="Body">
                    {% for option in form.body.field.choices %}
                    <option>{{ option.0 }}</option>
                    {% endfor %}
                </select>
                <select class="transmission" title="Transmission">
                    {% for option in form.transmission.field.choices %}
                    <option>{{ option.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select class="drive" title="Drive">
                    {% for option in form.drive.field.choices %}
                    <option>{{ option.0 }}</option>
                    {% endfor %}
                </select>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"{% if form.with_photos.value %} checked{% endif %}>
                    <label class="form-check-label" for="flexCheckDefault">With Photos Only</label>
                </div>
            </div>
            <div class="col">
                <div class="my-input">
                    <input class="w-25" type="number" placeholder="Power from, hp" id="power_from" autocomplete="off" value="{{ form.power_from.value }}"/>
                    <input class="w-25" type="number" placeholder="to" id="power_to" autocomplete="off" value="{{ form.power_to.value }}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-input">
                    <input class="w-25" type="text" placeholder="Year from" id="year_from" autocomplete="off" value="{{ form.year_from.value }}"/>
                    <input class="w-25" type="number" placeholder="to" id="year_to" autocomplete="off" value="{{ form.year_to.value }}"/>
                </div>
            </div>
            <div class="col">
                <div class="my-input">
                    <input class="w-25" type="number" placeholder="Mileage from, mi" id="mileage_from" autocomplete="off" value="{{ form.mileage_from.value }}"/>
                    <input class="w-25" type="number" placeholder="to" id="mileage_to" autocomplete="off" value="{{ form.mileage_to.value }}"/>
                </div>
            </div>
            <div class="col">
                <div class="my-input">
                    <input class="w-25" type="number" placeholder="Price from, $" id="price_from"_from" autocomplete="off" value="{{ form.price_from.value }}"/>
                    <input class="w-25" type="number" placeholder="to" id="price_to" autocomplete="off" value="{{ form.price_to.value }}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <span>Shown 1 - 100 from 123,456 ads</span>
        </div>
    </div>
</div>
