{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All cars for sale</title>
    <link rel="stylesheet" href="{% static 'styles/search_page.css' %}">
    <!-- Google Material -->
    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> -->
    <!-- <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
</head>
<body>

<!-- GLOBAL VARIABLES -->
<script>
    var ajaxRequest;
    var data;            // Filter values
    var url;
</script>

<!-- HEADER -->
<header class="header">
    <div class="header">
        <h1>All cars are here!</h1>
    </div>
</header>

<!-- CONTENT -->
<div class="content">

    <!--  FILTERS  -->
    <div class="filters-container">
        <!-- Condition filters -->
        <div class="filters-row">
            <div class="filter toggle-radio">
                <input type="radio" name="default" id="default_Option1" value="All" {% if filters.condition == 'All' %} checked {% endif %}>
                <label for="default_Option1">All</label>
                <input type="radio" name="default" id="default_Option2" value="Used" {% if filters.condition == 'Used' %} checked {% endif %}>
                <label for="default_Option2">Used</label>         
                <input type="radio" name="default" id="default_Option3" value="New" {% if filters.condition == 'New' %} checked {% endif %}>
                <label for="default_Option3">New</label>
              </div>
        </div>
        <!-- Make/Model filters -->
        <div class="filters-row">
            <div class="filter filter-make">
                <label>Make</label>
                <select id="make">
                    <option>All</option>
                    {% for make in filters.makes %}
                    <option>{{ make }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter filter-model">
                <label>Model</label>
                <select id="model">
                    <option>All</option>
                </select>
            </div>
        </div>
        <!-- Specs filters -->
        <div class="filters-row">
            <div class="filter filter-body">
                <label>Body</label>
                <select id="body">
                    <option>All</option>
                    {% for body in filters.bodies %}
                    <option>{{ body }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter filter-transmission">
                <label>Transmission</label>
                <select id="transmission">
                    <option>All</option>
                    {% for transmission in filters.transmissions %}
                    <option>{{ transmission }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter filter-drive">
                <label>Drive Type</label>
                <select id="drive">
                    <option>All</option>
                    {% for drive in filters.drives %}
                    <option>{{ drive }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <div class="filter filter-power">
                <label>Power</label>
                <input id="power">
                <input>
            </div> -->
        </div>
        <!-- Countable filters (year, price, mileage) -->
        <div class="filters-row">
            <div class="filter filter-year">
                <label>Year</label>
                <input id="year_min">
                <input id="year_max">
            </div>
            <div class="filter filter-mileage">
                <label>Mileage</label>
                <input id="mileage_min">
                <input id="mileage_max">
            </div>
            <div class="filter filter-price">
                <label>Price</label>
                <input id="price_min">
                <input id="price_max">
            </div>
        </div>
        <div class="filters-row">
            <div class="filter filter-total">
                Found {{ total }} {% if total == '1' %}ad{% else %}ads{% endif %}
            </div>
        </div>
    </div>

    <!--  ADS  -->
    <div class="ads" id="ads">
        {% include 'search_page_results.html' with ads=ads %}
    </div>

    <!-- PAGINATION -->
    <div class="pagination">
        {% if filters.page > 2%}
            <a href="/?page={{ filters.page|add:'-1' }}"><</a>
        {% elif filters.page == 2 %}
            <a href="/"><</a>
        {% endif %}
        <span>{{ filters.page }}</span>
        <a href="/?page={{ filters.page|add:'1' }}">></a>
    </div>

</div>

<!-- FOOTER -->
<div class="footer"></div>

<!-- Filters -->
<script>
    $(document).ready(() => {
        $('.filter select').on('change', (e) => {
            console.log($(e.target).attr('id') + '=' + $(e.target).val());
            callAjax();
        });
    });
</script>

<!-- Ajax -->
<script>
    function readFilters() {
        data = {};
        // page = '1'
        // condition = 'All'
        make = $('select#make').val()
        if (make !== 'All') data['make'] = make
        model = $('select#model').val()
        if (model !== 'All') data['model'] = model
        body = $('select#body').val()
        if (body !== 'All') data['body'] = body
        transmission = $('select#transmission').val()
        if (transmission !== 'All') data['transmission'] = transmission
        drive = $('select#drive').val()
        if (drive !== 'All') data['drive'] = drive
        year_min = $('input#year_min').val()
        if (year_min) data['year_min'] = year_min
        year_max = $('input#year_max').val()
        if (year_max) data['year_max'] = year_max
        mileage_min = $('input#mileage_min').val()
        if (mileage_min) data['mileage_min'] = mileage_min
        mileage_max = $('input#mileage_max').val()
        if (mileage_max) data['mileage_max'] = mileage_max
        price_min = $('input#price_min').val()
        if (price_min) data['price_min'] = price_min
        price_max = $('input#price_max').val()
        if (price_max) data['price_max'] = price_max
        console.log(data);
        return data        
    };

    function callAjax() {
        ajaxRequest = $.ajax({
            type: 'GET',
            url: '/',
            data: readFilters(),
            beforeSend: (jqXHR, settings) => {
                // Save url
                url = settings.url;
                // if (url.slice())
                window.history.replaceState('object or string', 'All cars for sale', url);
                // Cancel previous ajax request
                if (ajaxRequest) {
                    ajaxRequest.abort();
                };
            },
            success: (rendered_ads, statusText, jqXHR) => {
                $('#ads').html(rendered_ads);
            },
            error: (err) => {
                if (err.statusText != 'abort') console.log(err);
            }
        });
    };
</script>

</body>
</html>