{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All cars for sale</title>
    <link rel="stylesheet" href="{% static 'styles/search_page.css' %}">
    <!-- Google Material -->
    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> -->
    <!-- <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
</head>
<body>

<!-- GLOBAL VARIABLES -->
<script>

</script>

<!-- HEADER -->
<header class="header">
    <div class="header">
        <h1>All cars are here!</h1>
    </div>
</header>

<!-- CONTENT -->
<div class="content">

    <!--  FILTERS  -->
    <div class="filters-container">
        <!-- Condition filters -->
        <div class="filters-row">
            <div class="filter toggle-radio">
                <input type="radio" name="default" id="default_Option1" value="All" {% if filters.condition == 'All' %} checked {% endif %}>
                <label for="default_Option1">All</label>
                <input type="radio" name="default" id="default_Option2" value="Used" {% if filters.condition == 'Used' %} checked {% endif %}>
                <label for="default_Option2">Used</label>         
                <input type="radio" name="default" id="default_Option3" value="New" {% if filters.condition == 'New' %} checked {% endif %}>
                <label for="default_Option3">New</label>
              </div>
        </div>
        <!-- Make/Model filters -->
        <div class="filters-row">
            <div class="filter filter-make">
                <select>
                    <option>All</option>
                    {% for make in filters.makes %}
                    <option>{{ make }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter filter-model">
                <select>
                    <option>All</option>
                </select>
            </div>
        </div>
        <!-- Specs filters -->
        <div class="filters-row">
            <div class="filter filter-body">
                <select>
                    <option>All</option>
                </select>
            </div>
            <div class="filter filter-transmission">
                <select>
                    <option>All</option>
                </select>
            </div>
            <div class="filter filter-drive">
                <select>
                    <option>All</option>
                </select>
            </div>
            <div class="filter filter-power">
                <select>
                    <option>All</option>
                </select>
            </div>
        </div>
        <!-- Countable filters (year, price, mileage) -->
        <div class="filters-row">
            <div class="filter filter-year">
                <select>
                    <option>All</option>
                </select>
            </div>
            <div class="filter filter-mileage">
                <select>
                    <option>All</option>
                </select>
            </div>
            <div class="filter filter-price">
                <select>
                    <option>All</option>
                </select>
            </div>
        </div>
        <div class="filters-row">
            <div class="filter filter-total">
                Found {{ total }} {% if total == '1' %}ad{% else %}ads{% endif %}
            </div>
        </div>
    </div>

    <!--  ADS  -->
    <div class="ads">
        {% for i, ad in ads.iterrows %}
        <div class="ad">
            <div class="add inner">
                <div class="ad-photo">
                    <img {% if ad.photos|as_list_of_str|pop:'0' %}
                        src="{{ ad.photos|as_list_of_str|pop:'0' }}"
                    {% else %}
                        src={% static 'images/no_image.png' %}
                    {% endif %}
                    >
                </div>
                <a href="{{ ad.url }}" target="_blank">
                    <div class="ad-info">
                        <div class="ad-info-col col-1">
                            <div class="ad-info-title">
                                {% if ad.make %} {{ ad.make }} {{ ad.model }} {% else %} {{ ad.title }} {% endif %}
                            </div>
                            <div class="ad-info-specs">
                                <div class="ad-info-cpecs-col col-1">
                                    <div class="ad-info-specs-power" title="Power">
                                        {{ ad.power }}
                                    </div>
                                    <div class="ad-info-specs-transmission" title="Transmission">
                                        {{ ad.transmission }}
                                    </div>
                                </div>
                                <div class="ad-info-cpecs-col col-2">
                                    <div class="ad-info-specs-drive">
                                        <abbr title="{{ ad.drive_title }}">
                                            {{ ad.drive }}
                                        </abbr>
                                    </div>
                                    <div class="ad-info-specs-body" title="Body Style">
                                        {{ ad.body }}
                                    </div>
                                </div>
                            </div>
                            <div class="ad-info-location" title="Location">
                                {{ ad.location }}
                            </div>
                        </div>
                        <div class="ad-info-col col-2">
                            <div class="ad-info-price" title="Price">
                                {{ ad.price }}
                            </div>
                        </div>
                        <div class="ad-info-col col-3">
                            <div class="ad-info-year" title="Model Year">
                                {% if ad.year %} {{ ad.year }} {% endif %}
                            </div>
                        </div>
                        <div class="ad-info-col col-4">
                            <div class="ad-info-mileage" title="Mileage">
                                {{ ad.mileage }}
                            </div>
                            <div class="ad-info-source" title="Ad Source">
                                {{ ad.source }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div class="pagination">
        {% if filters.page != 1%}<a href="/?page={{ filters.page|add:'-1' }}"><</a>{% endif %}
        <span>{{ filters.page }}</span>
        <a href="/?page={{ filters.page|add:'1' }}">></a>
    </div>

</div>

<!-- FOOTER -->
<div class="footer"></div>

<script>
</script>

</body>
</html>