@font-face {
  font-family: 'Gerbera Black';
  src: url('~@/assets/fonts/gerbera/Gerbera-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

$accent-color: #DB3727;
$footer-color: #212121;
$footer-text-color: #929292;
$divider-color: #E0E0E0;
$card-shadow-color: rgb(0 0 0 / 10%);
$card-shadow-color: rgb(0 0 0 / 12%);
$white: #FFF;
$whitish: rgba(255, 255, 255, 0.7);
$text-color: #000;
$secondary-text-color: grey;
$logo-font: 'Gerbera Black';
$default-font-size: 14px;
$default-font-weight: 400;

$silver-light: #C1C1C1FF;
$silver: #9C9999FF;
$blue: #334DFFFF;
$orange-dark: #FC4829FF;
$green: #35BA2BFF;
$brown: #926547FF;
$orange-light: #F1D9B2FF;
$blue-light: #36A1FFFF;
$gold: #FABE00FF;
$red: #C5172DFF;
$purple: #9966CCFF;
$yellow: #FDE90FFF;
$coral: #FF9966FF;
$pink: #FFC0CBFF;
