
.filters-container {
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.12);
    /* height: 220px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    /* padding: 15px; */
}
.filters-container .row {
    margin-top: 5px;
}

.my-input {
    width: 270px;
    height: 39px;
    border-radius: 5px;
    /* margin-right: 10px; */
}
.btn-group {
    border-radius: 5px;
}
.filters {
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
}
    .filters-row {
        display: flex;
        justify-content: space-between;
        margin: 12px 0;
    }
        .filters_row_header {
            margin-top: 0;
        }
        .filters_row_last {
            margin-bottom: 0;
        }
        .filters_row_colours-phone {
            display: none;
        }

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    /* margin-right: 8px; */
    position: relative;
    border: 1px solid lightgray;
}
    .color.black {
        background-color: black;
    }
    .color.white {
        background-color: white;
    }
    .color.grey {
        background-color: grey;
    }
    .color.red {
        background-color: red;
    }
    .color.blue {
        background-color: blue;
    }
    .color.brown {
        background-color: brown;
    }
    .color.green {
        background-color: green;
    }
    .color.orange {
        background-color: orange;
    }
    .color.yellow {
        background-color: yellow;
    }

/* No arrows for the numeric inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
