/* Header */

header,
header .row {
    height: 100px;
    background-color: #DB3727;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
    header *[class*="col-"] {
        height: 100px;
    }
.row {
    display: table;
}
    .header-container {
        margin-top: 25px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
        .header-logo-link {
            flex-direction: row;
            display: flex;
            text-decoration: none;
            color: white;
        }
            .header-logo-img {
                height: 50px;
            }
        .header-motto {
            flex-shrink: 0;
        }
