<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <style>
        .current {
            color: green;
        }
    </style>
    <a href="{% url 'profile' %}">Profile</a>
    <br><br><br>

    <!-- Ads list -->

    {% for ad in page_obj %}
    <hr><br><a href="{% url 'ad_page' ad.id %}">
        <img src="{{ad.photos.0}}" alt="{{ad.title}}" width="350px" loading="lazy"><br>
        {{ad.title}} <br><br>
    </a><br>
    {% endfor %}

    {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a
                href="{% url 'ads_by_page' page_number %}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
</body>
</html>