<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite</title>
</head>
<body>
    <h1>Favorite | <a href="{% url 'profile' %}">Profile</a></h1>
    {% if auth == True %}
    <!-- Favorite ads -->
    
    <hr>
    {% for ad in fav %}
        <img src="{{ad.photos.0}}" alt="{{ad.title}}" width="350px" loading="lazy"><br>
        <a href="{% url 'ad_page' ad.id %}">{{ad.title}}</a> | <a href="{% url 'remove_from_favorite' ad.id %}">Remove</a><br>
    {% endfor %}
    <hr>

    {% else %}

    <!-- Render login\reg page -->
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <br><br><a href="{% url 'ads' %}">Home</a>
</body>
</html>