<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% if auth == True %}
    <!-- Render account page -->
    <p>Here some publication</p>
    <a href="{% url 'new_ad' %}">New Ad</a>
    <a href="{% url 'favorite' %}">Favorite</a>
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}

    <!-- Render login\reg page -->
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="{% url 'ads' %}">Home</a>
</body>
</html>